body {
  font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
  margin: 0;
}


#designer {
  margin: 16px;
}

#designer .body-container {
  position: relative;
}

#designer .page-links {
  position: absolute;
  top:  0;
  bottom:  20px;
  height: 100%;
  overflow-y: scroll;
  margin-top: 230px;
  margin-bottom: 20px;
}

#designer .nav-container {
  position: absolute;
  height: 100%;
  width: 150px;
  overflow-x: none;
  margin-top: -20px;
}

#designer .nav-container button {
  margin-top: 10px;
  width: 90%;
}

#designer .view-start-page {
  background-color: #337ab7;
  color: #FFF;
}

#designer .nav-container h3 {
  border-bottom: solid 1px #ccc;
  margin-bottom: 8px;
}

#designer .nav-filter {
  margin-bottom: 8px;
}

#designer .nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#designer .nav li {
  padding-left: 6px;
}

#designer .body-content {
  margin-left: 168px;
}

#designer .page-content {
  width: 100%;
  height: 20em;
  max-width: 600px;
}

#designer .add-new-page {
  margin-top: 35px;
}

#designer button {
  margin-right: 6px;
  margin-left: 6px;
}

#designer .form-field {
  margin-bottom: 12px;
}

#designer .form-field input {
  width: 200px;
}

#designer .form-field label {
  display: inline-block;
  width: 100px;
}

#designer .page-nav {
  line-height: 22px;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 140px;
  overflow: hidden;
  display: inline-block;
}

#designer .saved-transitions { 
  margin-bottom: 20px;
}

#designer .saved-transitions button { 
  margin-left: 20px;
}

#designer button, .btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  text-decoration: none;
}

#designer button.closed-code-block {
  background-color: #aa6708;
  color: #FFF;
  width: 260px;
  position: relative;
}

#designer button.closed-code-block:before {
  content: '\003E';
  position: absolute;
  left: 10px;
}

#designer .btn-save {
  background-color: #5cb85c;
  color: #FFF;
}

#designer .btn-delete {
  color: #fff;
  background-color: #801515;
}

#designer .page-transition {
  margin-bottom: 8px;
}

#designer .page-transition input {
  width: 200px;
}

#designer .transition-id-label {
  display: inline-block;
  font-weight: bold;
  padding: 4px;
  margin-left: 6px;
}

#designer .input {
  height: 200px;
  width: 100%;
}

#designer .output {
  width: 100%;
  height: 600px;
}

#designer .json-output {
  width: 100%;
  height: 200px;
}

#designer .nav-links a {
  display: block;
  margin-bottom: 8px;
}

#designer .from-transition-id {
  display: inline-block;
  margin-left: 10px;
}

#designer .code-block-container {
  margin-bottom: 18px;
}

#designer .code-block-container h5 {
  margin-bottom: 3px;
}

#designer .function-input {
  padding: 6px;
  display: block;
  width: 100%;
  max-width: 750px;
  height: 12em;
  font-family: ‘Courier New’, Courier, monospace;
  font-size: 12px;
}

#designer h4 {
  border-bottom: solid 1px #ccc;
}

#designer .add-transition-action {
  margin-top: 20px;
}

#designer .content-error {
  color: #d9534f;
}

#designer .form-field-message {
  margin-top: -6px;
  padding-bottom: 18px;
  color: #999;
}

#designer .code {
  font-family: ‘Courier New’, Courier, monospace;
  background-color: #ddd;
  padding: 8px;
}

#designer pre {
    white-space: pre-wrap; /* CSS3 */
    white-space: -moz-pre-wrap; /* Mozilla, post millennium */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

#designer .code-block-hint {
  margin-top: 8px;
  background-color: #EEE;
  padding: 8px;
  border-left: solid 1px #CCC;
  border-right: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
  max-width: 600px;
}

#designer .btn-info {
  background-color: #5bc0de;
}

#designer .test-book {
  background-color: #337ab7;
  color: #FFF;
}
