html {
  height: 100%;
}

body {
  height: 100%;
  font-family: Tahoma, Geneva, sans-serif;
  margin: 0;
}

#book h1.book-title {
  padding-top: 20%;
  text-align: center;
  font-size: 42px;
  color: #000;
  font-family: ‘Arial Black’, Gadget, sans-serif;
}

#book input {
  border: solid 1px #ccc;
  line-height: 18px;
}

#book .cover {
  height: 100%;
  background-image: url(./images/paper.jpg);
  background-repeat: repeat;
  padding: 35px;
}

#book .cover-hint {
  text-align: center;
  font-size: .7em;
}

#book {
  height: 100%;
  padding: 0;
  margin: 0;
}

#book .page {
  height: 100%;
  padding: 24px;
  background-image: url(./images/paper.jpg);
}

#book .content {
  padding-bottom: 24px;
  min-height: 10em;
}

#book .actions {
  margin: auto;
  display: block;
  text-align: center;
}

#book .choice {
  display: inline-block;
  padding: 0 10px;
  line-height: 24px;
  background: transparent;
  border: solid 1px #999;
  font-size: 1em;
  font-weight: 400;
  color: #555;
  margin: 0 6px;
  font-family: 'Walter Turncoat', serif;
}
#book .actions .choice {
  margin-bottom: 12px;
}
#book .choice.start-over {
  margin: 0;
}


#book .center {
  text-align: center;
  margin: auto;
}

#book .full-width {
  display: block;
  width: 100%;
  height: auto;
}

#book .width-75 {
  display: block;
  width: 75%;
  height: auto;
  margin: auto;
}

#book .width-50 {
  display: block;
  width: 50%;
  height: auto;
  margin: auto;
}

#book input:not([type]), #book input[type="text"] {
  width: 80px;
  font-size: 1em;
}
#book input.short {
  width: 40px;
}
#book input.long {
  width: 90px;
}
#book input.xlong {
  width: 140px;
}

#book p {
  margin-bottom: 28px;
}
